{% extends 'base.html.twig' %}

{% block title %}Détail du client
{% endblock %}

{% block body %}
	<style></style>

	<div class="example-wrapper">
		<h1>Détail du client</h1>
		{% if noClient is defined %}
			{{ noClient }}
		{% else %}
			<p>{{ client.name }}</p>
			{% for branche in branches %}
				{{ branche.name }}
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}
