{% extends 'base.html.twig' %}

{% block title %}Modifier un client
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col">
				<h1>Modifier un client</h1>

				{{ include('clients/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

				<a href="{{ path('app_security_clientlist') }}">retour à la liste</a>

				{{ include('clients/_delete_form.html.twig') }}
			</div>
		</div>
	</section>
{% endblock %}
